.AuthContainer{
    background: url(../../../assets/pages/authentication/background.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
}

.glassMorphisom{

background: rgba(170, 170, 170, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
}